/*Style*/
	@font-face {
		font-family: 'Century Gothic';
		src: url('/font/century_gothic.eot');
		src: url('/font/century_gothic.eot?#iefix') format('embedded-opentype'), url('/font/century_gothic.svg#Century Gothic') format('svg'), url('/font/century_gothic.woff') format('woff'), url('/font/century_gothic.ttf') format('truetype');
		font-weight: normal; font-style: normal;
	}
	body{
		max-width:1800px;
		padding: 0;
		font-family: 'Century Gothic' ,'MS Sans Serif', Geneva, sans-serif;
		/*background: linear-gradient(-45deg, #000, #4D4D4D);*/
		/*background:url('../img/metal.png') 0 0 repeat; */
		background: #111111;
		width: 98%;
	}
	.wrapper{
		margin: 2.5% auto;
		font-family: 'Century Gothic' , 'MS Sans Serif', Geneva, sans-serif;
	}
	#back{
		height: 100%;
		max-height: 100%;
		width: 100%;
		z-index: 1;
		min-width: 1000px;
	}
	#back img{
		top: 0;
		bottom: 0;
		left:0;
		right: 0;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: -1;
	}
	img{
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
		border: none;
	}
	
	header{
		margin: auto;
		margin-bottom:1%;
		width: 100%;

	}
	footer{
		font-family:'Century Gothic', 'Century Gothic Regular';
		/*font-family: 'Century Gothic';*/
		font-size: 14px;
		margin-top: 1%;
		clear: both;
		line-height: 21px;
		padding-top:5px;
		border-top: 2px solid white;
	}
	footer .contact{
		margin:0;
		float: left;
		text-align: left;
		
	}
	footer .copy{
		float: right;
		min-width: 273px;
	}
	p{
		color: #d6d6d7;
		font-family: 'MS Sans Serif', Geneva, sans-serif;
		font-size: 14px;
	}
	.logo{
		display: inline;
		float: left;
		width:60%;
	}
	.logo #devider{
		width: 4px;
		margin-left: 8px;
	}
	.logo h2{
		display: inline;
		vertical-align: super;
	}
	.logo-super{
		vertical-align: super;
	}
	.group-img{
		padding-left: 10px;
	}
	#logo-image{
		width: 35px;
	}
	.place-right{
		display: inline-block;
		float:right;
		margin-top: 12px;
		font-size: 14px;
		height: 26px;
		max-width: 40%;
		width: 200px;
	}
	.place-right .search{
		float: left;
		position: relative;
		width: 20%;
	}
	.place-right .language{
		width: 20%;
		margin: 0;
		margin-left: 10px;
		float: right;
		background-color: #808080;
		line-height: 23px;
		width: 60px;
		height: 23px;
		text-align: center;
	}
	.language .active{
		font-weight: bold;
	}

	.place-right .search .search-img{
		background: url("../img/search.png") 0 0 no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		width: 23px;
		height: 23px;
		border: none;
	}
	.input-search{
		padding-left: 8px;
		color: black;
		float: left;
		border:none;
		height: 23px;
	}
	
/*  Сетка*/
	.row{
		float: left;
		width : 100%;
		margin:0 auto;
		margin-bottom: 1%;
		margin-bottom: 10px;
	}


	.index h4 {
		font-family: 'Century Gothic', 'Century Gothic Regular';

	}
/* End other Pages */

/*Menu*/
	#menu-bar{
		width: 100%;
		float: left;
		background-color: #b3b3b3;
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: 'Century Gothic', 'Century Gothic Regular';
	}
	#menu-bar ul{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		display: block;
	}
	#menu-bar ul li{
		float: left;
		padding-left:10px;
		padding-right: 10px;

		height: 30px;
		border-right: 1px solid #333333;
	}
	#menu-bar ul li a{
		color:black;
		padding: 5px;
		padding-right: 10px;
		text-decoration: none;
		line-height: 28px;
	}
	#menu-bar ul li:hover{
		background-color: #ff8d00;
	}
	#menu-bar .active{
		background-color: #ff8d00;
	}
	#menu-bar .active>a{
		color: white;
	}
	ul {
		padding: inherit;
	}
/* End menu */

	/*Кастомизация Яндекс поиска*/
	.search #ya-site-form0 *{
		color: black;
		padding: 0 !important;
		margin:0 !important;
	}
	#ya-site-form0 .ya-site-form__submit_type_image{
		background: url('/img/search.png') no-repeat !important;
	}
	#ya-site-form0 .ya-site-form__submit_type_image{
		width: 23px !important;
		height: 23px !important;
	}
	#ya-site-form0 .ya-site-form__form .ya-site-form__input-text{
		height: 23px !important;
		padding-left: 8px !important;
	}

	/*Custom Google search*/
	input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus{
		/*width: 23px !important;*/
		/*height: 23px !important ;*/
	}
	.gsc-search-button{
		/*background: url('/img/search.png') no-repeat !important;*/
	}
	.gsc-search-button input{
		/*background:white !important;*/
	}
	.gsc-control-cse{
		background: transparent !important;
	}
	.cse .gsc-control-cse, .gsc-control-cse{
		background: transparent !important;
		border:none !important;
	}